{% extends 'main.html' %}
{% block content %}

<main class="container">
  <div class="row g-1">
    <div class="col-md-100">
      <article class="blog-post">
        <h2 class="blog-post-title mb-1">{{ post.title }}</h2>
  <!--        <p class="blog-post-meta">January 1, 2021 by <a href="#">Mark</a></p>-->
        <p class="blog-post-meta">{{ post.releaseDate }}</p>
        <img src="{{ post.image.url }}" class="bd-placeholder-img">
        <p>{{ post.text }}</p>
      </article>

    </div>
  </div>

  <p>See also</p>

  {% for post in postsSeeAlso %}
    <div class="row mb-1">
      <div class="col-md-100">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">{{ post.title }}</h3>
            <div class="mb-1 text-muted">{{ post.releaseDate }}</div>
            <p class="card-text mb-auto">{{ post.description }}</p>
            <a href="{% url 'post' id=post.id %}" class="stretched-link">Read</a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}


  <h1> {{ comments.count }} comments </h1>

  {% if request.user.is_authenticated %}
    <h1>Add a comment</h1>
    <form method="POST" action="{% url 'post' id=post.id %}">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Comment" />
    </form>
  {% else %}
    <h3><a href="{% url 'login' %}">Log in</a> or <a href="{% url 'signup' %}">sign up</a> to write one!</h3>
  {% endif %}

  {% for comment in comments %}
<!--    <h2>{{ comment.commentCreator }}</h2>-->
<!--    <h4>  {{ comment.text }}</h4>-->
    <div class="card" style="width: 36rem;">
      <div class="card-body">
        <h5 class="card-title">{{ comment.commentCreator }}</h5>
        <p class="card-text">{{ comment.text }}</p>
        <p class="card-text">{{ comment.datetime }}</p>
      </div>
    </div>
  {% endfor %}
</main>


<style>
  .blog-post {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>

{% endblock content %}