{% extends 'main.html' %}
{% block content %}

<main class="container">
  {% for featuredPost in featuredPosts %}
    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">{{ featuredPost.title }}</h1>
        <p class="lead my-3">{{ featuredPost.description }}</p>
        <p class="lead mb-0"><a href="{% url 'post' id=featuredPost.id %}" class="text-white fw-bold">Read</a></p>
      </div>
    </div>
  {% endfor %}


  <div class="row g-5">
    <div class="col-md-8">
      {% if posts.count > 0 %}
        <h1>{{ searchString }}</h1>
      {% endif %}

      {% for post in posts %}
        <div class="col-md-20">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0">{{ post.title }}</h3>
              <div class="mb-1 text-muted">{{ post.releaseDate | date:"d F, Y G:i" }}</div>
              <p class="card-text mb-auto">{{ post.description }}</p>
              <a href="{% url 'post' id=post.id %}" class="stretched-link">Read</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img src="{{ post.image.url }}" width="200" height="250" class="bd-placeholder-img">
            </div>
          </div>
        </div>
      {% empty %}
        <h1>Nothing found, try something else</h1>
      {% endfor %}
    </div>
  </div>

</main>

{% endblock content %}