{% extends 'main.html' %}
{% block content %}

{% if posts.count > 0 %}
  <h1>Hello, {{ user.get_username }}. Here are your posts.</h1>
{% else %}
  <h1>Hello, {{ user.get_username }}. You don't have posts. Create one <a href="{% url 'post:createPost' %}">here</a></h1>
{% endif %}

{% for post in posts %}
  <div class="col-md-12">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-0"><a href="{% url 'post:post' pk=post.id %}">{{ post.title }}</a></h3>
        <div class="mb-1 text-muted">{{ post.releaseDate | date:"d F, Y G:i" }}</div>
        <p class="card-text mb-auto">{{ post.description }}</p>
        <div class="btn-group">
          <a class="btn btn-sm btn-outline-secondary" href="{% url 'post:editPost' pk=post.id %}"  role="button">Edit</a>
          <a class="btn btn-sm btn-outline-secondary" href="{% url 'post:deletePost' pk=post.id %}"  role="button">Delete</a>
        </div>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="{{ post.image.url }}" width="200" height="250" class="bd-placeholder-img">
      </div>
    </div>
  </div>
{% endfor %}

{% endblock content %}