{% extends 'main.html' %}
{% block content %}

<main class="container">
  {% for featuredPost in featuredPosts %}
    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">{{ featuredPost.title }}</h1>
        <p class="lead my-3">{{ featuredPost.description }}</p>
        <p class="lead mb-0"><a href="{% url 'post:post' pk=featuredPost.id %}" class="text-white fw-bold">Read</a></p>
      </div>
    </div>
  {% endfor %}

  <div class="row g-5">
    <div class="col-md-8">

{#    <div class="dropdown">#}
{#      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">#}
{#        Sort by#}
{#      </button>#}
{#      <ul class="dropdown-menu">#}
{#        <li><a class="dropdown-item" href="{% url 'core:mainPage' %}?sort_type=by_date">Release date</a></li>#}
{#        <li><a class="dropdown-item" href="{% url 'core:mainPage' %}?sort_type=by_name">Name</a></li>#}
{#        <li><a class="dropdown-item" href="{% url 'core:mainPage' %}?sort_type=by_popularity">Popularity</a></li>#}
{#      </ul>#}
{#    </div>#}

    {% for post in posts %}
      <div class="col-md-12">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">{{ post.title }}</h3>
            <div class="mb-1 text-muted">{{ post.releaseDate | date:"d F, Y G:i" }}</div>
            <p class="card-text mb-auto">{{ post.description }}</p>
            <a href="{% url 'post:post' pk=post.id %}" class="stretched-link">Read</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="{{ post.image.url }}" width="200" height="250" class="bd-placeholder-img">
          </div>
        </div>
      </div>
    {% empty %}
      <h1>No posts. <a href="{% url 'profile:login' %}">Log in</a> or <a href="{% url 'profile:signup' %}">sign up</a> to create one!</h1>
    {% endfor %}

    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">About</h4>
          <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Archives</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="/results/2023/1" target="_blank">January 2023</a></li>
            <li><a href="/results/2022/12" target="_blank">December 2022</a></li>
            <li><a href="/results/2022/11" target="_blank">November 2022</a></li>
          </ol>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="https://www.github.com/choodfire" target="_blank">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>

</main>

{% endblock content %}